.background {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  z-index: 9999;
  width: 80%;
}
.title {
  background-color: var(--color-primary);
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
  border-radius: 10px 10px 0 0;
}
.content {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 1em;
}
.content div {
  margin-bottom: 1em;
}
.content button {
  display: block;
  margin-left: auto;
}
